* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	/* width: 100%; */
    /* cho nó nghiêng */
    perspective: 1000px;
	position: relative;
	overflow: hidden;
	background-color: #d6c5c5;
}
/* nav */
.navbar {
	width: 100%;
	height: 60px;
	position: fixed;
	top: 0;
	left: 0;
	padding: 0 10rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 9;
	border: 1px solid white;
}

.toggle-btn {
	position: relative;
	width: 50px;
	height: 50px;
	cursor: pointer;
}

.toggle-btn span {
	position: absolute;
	top: 25%;
	left: 0;
	/* transform: translateY(-50%); */
	width: 100%;
	height: 3px;
	background-color: rgb(212, 64, 101);
	transition: 1s;
}

.toggle-btn span:nth-child(2) {
	top: 50%;
	width: 70%;
}
.toggle-btn span:nth-child(3) {
	top: 70%;
	width: 30%;
}

.toggle-btn.active span:nth-child(2) {
	display: none;
}

.toggle-btn.active span:nth-child(1) {
	top: 50%;
    transform: rotate(45deg);
}

.toggle-btn.active span:nth-child(3) {
    width: 100%;
	top: 50%;
    transform: rotate(-45deg);
}


/* page  */

.page-container {
	position: relative;
	width: 100%;
	height: 100%;
	transition: 1s;
	left: 0;
	background-color: rgb(137, 157, 157);
}



.page {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	/* z-index: 5; */
	pointer-events: none;
	opacity: 0;
	/* object-fit: cover;  chỉ use với img k dùng bg-image*/
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.page.active {
	opacity: 1;
	pointer-events: all;
}

.page.home {
	background-image: url(./image1.jpeg);
}

.page.project {
	background-image: url(./image2.jpeg);
}
.page.about {
	background-image: url(./image3.jpeg);
}

.page .title {
	font-size: 5rem;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}

/* javascript Animation $ Rotation */
.page-container.active {
	/* left: -10px; */
	transform: rotateY(40deg) scale(0.5);
	box-shadow: -10px 10px 10px 5px gray;
}
.nav-list {
	position: absolute;
	top: 40%;
	right: 10vw;
	opacity: 0;
}
.link {
    
	position: relative; 
	color: #fff;
	text-transform: capitalize;
	font-size: 50px;
	padding: 10px;
	transition: 0.5s;
	letter-spacing: 1.5;
	list-style: none;
	font-weight: 600;
	cursor: pointer;
}

.link:hover {
	opacity: 0.8;
	color: rgb(48, 9, 83);
	transform: translateX(-30px);
    background-color: #ffffff;
}

.nav-list.show {
	opacity: 1;
}
