* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

section {
    width: 70vw;
    margin-top: 50px;
    border: 2px solid orangered;

}
.card-title {
    font-size: 3rem;
}
p {
    line-height: 1.5;
    text-indent: 30px;
}

/* scrollbars */
::-webkit-scrollbar {
    background-color: rgb(156, 168, 168);
    width: 20px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-image: linear-gradient(#4158D0, #C850C0 ,#FFCC70);
    border-radius: 100px;

}

.emoji {
    font-size: 10rem;
    filter: grayscale(1);
    transition: 0.5s;
    user-select: none; /* Prevents text selection */
}

.emoji:hover {
    scale: 1.3;
    rotate: 20deg;
    filter: grayscale(0);
}