* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

section {
    width: 70vw;
    margin-top: 50px;
    border: 2px solid orangered;

}
.card-title {
    font-size: 3rem;
}
p {
    line-height: 1.5;
    text-indent: 30px;
}

/* scrollbars */
::-webkit-scrollbar {
    background-color: rgb(156, 168, 168);
    width: 20px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-image: linear-gradient(#4158D0, #C850C0 ,#FFCC70);
    border-radius: 100px;

}

.right-slid,
.left-slid {
    transition: transform 0.5s ease-in-out; /* Smooth transition for sliding */
}