* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	overflow: hidden;
	margin: 0;
	background: bisque;
}

.progress-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    position: relative;
}
.progress-wrapper::before {
    content: "";
    position: absolute;
    top: 50%;
    height: 2px;
    width: 100%;
    background-color: azure;
    z-index: -2;
}
.progress {
    height: 2px;
    width: 30%;
    position: absolute;
    top: 50%;
    background-color: blue;
    z-index: -1;
}

.step {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.step.active {
    border: 2px solid blue;
    color: blue;
}

.btn-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 50px;
}

.btn {
    padding: 1rem;
    border-radius: 10px;
    color: cadetblue;
    font-weight: 600;
    cursor: pointer;
}

.btn:active {
    scale: 0.95;
} 
