body {
	background: rgb(17, 17, 17);
}

.header-content {
	text-align: center;
}

.btn {
	background-color: transparent;
	border: none;
	background-color: crimson;
	color: #fff;
	padding: 10px 20px;
	cursor: pointer;
    margin: 40px;
}

/* javascript */
.cats {
	display: flex;
	justify-content: center;
	align-items: center;
	/* height: 100%; */
}

.random_cats {
	width: 50%;
}

img {
	max-width: 800px;
	height: 40rem;
}
