* {
	padding: 0;
	margin: 0;
}

body {
	background-color: rgb(53, 35, 7);
	color: aliceblue;
}

.content {
	padding: 4rem;
}

section {
	border: 2px solid rgb(222, 130, 18);
	margin-bottom: 20px;
	padding: 2rem;
}

section h1 {
	color: rgb(39, 235, 13);
	font-size: 2rem;
	text-align: center;
	margin-bottom: 20px;
}

/* I DO'T UNDERSTAND (70%) */
.scroll-indicator {
	height: 20px;   
	width: calc(100% - 5em);
    position: fixed;
	top: 10px;
	left: 3rem;
	border-radius: 3px;
}
.progress {
	background-image: linear-gradient(30deg ,rgb(0, 255, 85), rgb(255, 0, 166));
	height: 100%;
	width: 0;
	border-radius: 3px;
	transition: width 0.1s;
}
