* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

button {
	border: none;
	outline: none;
}

body {
	background: rgb(177, 165, 165);
}

.content {
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 10rem;
}

.counter {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 1rem;
}

.counter-box {
	width: 100%;
	height: 160px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: rgb(238, 82, 82);
	font-size: 4rem;
	font-weight: 600;
	background-color: rgba(43, 42, 42, 0.9);
    border-radius: 20px;
}

.button {
    font-size: 2rem;
    max-width: 350px;
    width: 50%;
    font-weight: bold;
    margin-top: 20px;
    padding: 13px 0;
    border-radius: 10px;
    background-image: linear-gradient(35deg, rgb(236, 180, 180) , rgb(175, 175, 243));
    cursor: pointer;
    color: rgb(8, 45, 77);
    
}
.button:last-child{
    background-image: linear-gradient(35deg, rgb(204, 192, 192) , rgb(78, 161, 77));
}
.button:active {
    transform: scale(0.95);
}

.entries p {
    margin: 3rem 0 1rem 1rem;
    font-size: 3rem;
    font-weight: 600;
    color: rgb(39, 40, 35);
}

.entries-field {
    font-size: 2.1rem;
    margin-left: 3rem;
    color: rgb(7, 7, 50);
}