* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	flex-direction: column;
	overflow: hidden;
}

.container {
	/* background-color: rgb(53, 46, 46); */
	background-image: url(https://media.istockphoto.com/id/1441848941/vi/anh/h%C3%ACnh-minh-h%E1%BB%8Da-m%E1%BB%99t-con-m%C3%A8o-%C4%91en-tr%C3%AAn-m%E1%BA%B7t-tr%C4%83ng-l%E1%BA%A5p-l%C3%A1nh-trong-univer-s%C3%A1ng-b%C3%B3ng.jpg?b=1&s=612x612&w=0&k=20&c=EE34967Qnnk70IcAi	oRHqbr4DHXbKuo4LO01fCaSAV8=);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	border-radius: 24px;
	width: 40%;
	height: 40%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	z-index: 2;
}

.container input {
	padding: 10px 20px;
	width: 80%;
	margin-bottom: 20px;
	font-size: 1.3rem;
	outline: none;
}

.container input::placeholder {
	font-size: 1.3rem;
	color: black;
}

button {
	padding: 15px 25px;
	border: none;
	background-color: dodgerblue;
	color: #fff;
	font-weight: bold;
	font-size: 1.5rem;
}

/*  */
.background-image {
	background-image: url("https://images8.alphacoders.com/601/thumb-1920-601705.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	/* -20px cx đc */
	right: -20px;
	z-index: 1;
	/* here here here */
	filter: blur(20px);
}
