* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: rgb(24, 79, 81);
}



h2 {
	font-size: 4rem;
	color: darkblue;
	padding: 1rem 2rem;
	text-align: center;
	width: 80%;
	border-radius: 10px;
	background-color: antiquewhite;
	margin: 100px auto;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
    margin: 0 auto;
    gap: 20px;
    width: 80%;
    height: 100%;
}

.container .panel {
    /* width: 200px; */
    height: 700px;
    border-radius: 50px;
    position: relative;
    flex: 1;
    background-position: center;
    transition: 0.6s;
    cursor: pointer;
}
.container .panel:hover {
    box-shadow: 1px 5px 14px 4px gray;
}

.container h3 {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 1.6rem;
    background-color: rgb(212, 206, 206);
    padding: 10px;
    border-radius: 10px;
    display: none;
    transition: all 0.5s;
}

/* js */
.panel.active {
    flex: 10;
}

.panel.active h3 {
    display: block;
}


